.image-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.image.zoomed {
  transform: scale(1);
  width: auto;
  max-width: none;
}
